<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.user.UserMapper">

    <!--登录-->
    <select id="findUserInfoByAccount" parameterType="string" resultType="com.jk.model.user.UserBean">
        select * from t_reg where account = #{value}
    </select>
    <select id="queryReg" parameterType="string" resultType="int">
        select * from t_reg where account=#{account}
    </select>
    <!--注册-->
    <insert id="reg" parameterType="com.jk.model.UserBean">
        insert into t_reg (account,password) values (#{account},#{password})
    </insert>
    <!--用户名查询-->
    <select id="getUserInfoByAccount" parameterType="string" resultType="int">
        select count(*) from t_reg where account=#{account}
    </select>

</mapper>