.layui-tree li i{
    color: rgba(255,255,255,.7);
    display: none;
}
.layui-tree li a cite{
    color: rgba(255,255,255,.7)
}
.layui-tree li .layui-tree-spread{
    display: block;
    position: absolute;
    right: 30px;
}
.layui-tree li{
    line-height: 45px;
    position: relative;
}
.layui-tree li ul{
    margin-left: 0;
    background: rgba(0,0,0,.3);
}
.layui-tree li ul a{
    padding-left: 20px;
}
.layui-tree li a{
    height: 45px;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    width: 100%;
}
.layui-tree li a:hover{
    background: #4E5465;
    color: #fff;
    border-left: 5px solid #009688;
}
.layui-tree li a.active{
    background: #009688;
}

#div-con-body{
    height: 100%;
}

#div_content{
    height: 100%;
}

#div_content >.layui-show{
    height: 100%;
}


