<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery/jquery-1.9.1.js"  ></script>
    <script src="../js/layui/layui.all.js"></script>
    <link rel="stylesheet" href="../js/layui/css/layui.css">
<style>
    td{
        width: 200px;
        height: 200px;
        text-align: center;
    }
</style>
</head>
<body>
<div class="layui-card-body">
    <div class="layui-container">
            <table id="myPersonal">
            </table>
    </div>
</div>
</body>
<script>

    $(function () {
        initMyPersonal();
    })

    function initMyPersonal() {
        var id=1;
        $.ajax({
            url:'../myPersonal/findMyPersonal/'+id,
            type:'get',
            dataType:'json',
            success:function (data) {
                var name="头像";
                var info="说明";
                var obj={};
                 obj=JSON.stringify(data);
                    var html="<tr>"+"<td>"+name+"</td>"+
                         "<td>" +
                           "<img style='border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;' src='"+data.mytopimg+"' alt='头像' width='190px' height='190px'>"+
                        "</td>"
                         +"</tr>"+
                         "<tr>"+
                             "<td>"+info+"</td>"+
                             "<td>"+data.info+"</td>"
                          +"</tr>"+
                        "<tr>"+

                            "<td><button type='button' class='layui-btn ' lay-submit  lay-filter='*' onclick='updatePersonal("+obj+")' >修改</button></td>"
                        +"</tr>";
                $("#myPersonal").html(html);

            }
        })

    }

    function updatePersonal(data) {
      alert(data)
        $.post('../page/toUpDatePersonal',{},function (str) {
            layer.open({
                title : "编辑资料",
                type : 1,
                area: ['580px', '500px'],
                content:str
                success : function() {
                    $('.id').val(data.id);
                    $('.mytopimg').val(data.mytopimg);
                    $('.info').val(data.info);

                    layui.use('form',function(){
                        var form = layui.form;
                        form.render();
                    });
                }

            });

        })

    }
    
    
</script>
</html>