<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui.form小例子</title>


    <script src="../js/jquery/jquery-1.9.1.js"  ></script>
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <script src="../js/layui/layui.all.js"></script>
    <!--<script src="../js/uploadify/jquery.uploadify.min.js"></script>-->
    <!--<link rel="stylesheet" href="../js/uploadify/uploadify.css">-->


</head>
<body>

<form id="rForm" class="layui-form"   > <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-block">
            <img id="mytopimgf" style='border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;' class="mytopimgf"   alt='头像' width='190px' height='190px'>
            <input type="text" name="mytopimg"  id="mytopimg"   autocomplete="off" class="layui-input mytopimg">
            <input type="file" id="butOne" onchange="showPreview(this)" >
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>uploadify
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">说明介绍</label>
        <div class="layui-input-block">
            <textarea maxlength="100"  id="info"   class="info layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn " lay-submit  lay-filter="*" id="rBtn" >立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <input id="id" class="id" type="text"/>
    <input type="button" value="ssss" onclick="ss()"/>
</form>
</body>
<script>
    $("#rBtn").click(function () {
        var id=$("#id").val();
        var mytopimg=$("#mytopimg").val();
        var info=$("#info").val();
        var img=$("#butOne")[0].files[0];

        $.ajax({
            url:'../myPersonal/upDatePersonal',
            type:'post',
            contentType:'application/json',
            data:JSON.stringify({
                'id':id,
                'mytopimg':mytopimg,
                'info':info
            }),
            dataType:'json',
            success:function (data) {
                initMyPersonal();
                layer.closeAll();
            }
        })

    })


    function showPreview(source) {
        var oFReader = new FileReader();
        var file = source.files[0];
        oFReader.readAsDataURL(file);
        oFReader.onloadend = function(oFRevent){
            var src = oFRevent.target.result;
            $('#mytopimgf').attr('src',src);
        }

    }

    layui.use('upload', function(){
        var upload = layui.upload;
          alert("dd")
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/upload/uploadify' //上传接口
            ,method: ''
            ,done: function(res){
                //上传完毕回调

            }
            ,error: function(){
                //请求异常回调
            }
        });
    });

</script>
</html>