<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../js/layui/css/style.css">
<link rel="stylesheet" href="../js/layui/css/layui.css">
<script src="../js/layui/layui.js"></script>
<script src="../js/jquery.tabs.js"></script>
<script src="../js/jquery.lazyload.js"></script>
<script src="/layer.js"></script>
<link rel="stylesheet" href="/layer.css" id="layui_layer_skinlayercss">

<!-- 引入juquery -->
<script src="../js/jquery-1.9.1.min.js"></script>
<!-- 引入bootstrap的css,js -->
<link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">
<script src="../js/bootstrap3/js/bootstrap.js"></script>
<!--引入table的css，js  -->
<link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
<script src="../js/bootstrap-table/bootstrap-table.js"></script>
<script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!-- 引入bootbox的js -->
<script src="../js/bootstrap-bootbox/bootbox.js"></script>

<link rel="apple-touch-icon-precomposed" href="https://static2.ele.me/apple-touch-icon.png?v=2">
<link href="../js/layui/vendor.css" rel="stylesheet">
<link href="../js/layui/main.css" rel="stylesheet">
<script src="../js/layui/api" data-ref="API_CONFIG"></script>
<script src="../js/layui/perf.js.下载" type="text/javascript" crossorigin="anonymous"></script>
<script src="../js/layui/vendor.js.下载" type="text/javascript" crossorigin="anonymous"></script>
<script src="../js/layui/main.js.下载" type="text/javascript" crossorigin="anonymous"></script>
</head>
<body>


</body>
</html>