<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.personal.mypersonaltree.MyPersonalMapper">
    <!--个人资料树-->
    <select id="queryTreeBeanBy" parameterType="int" resultType="com.jk.model.personal.mypersonaltree.MyPersonalTreeBean">
        select t.id,t.href,t.name,t.pid from t_mypersonaltree t where t.pid=#{value}
    </select>
</mapper>