<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery/jquery-1.9.1.js"  ></script>
    <script src="../js/layui/layui.all.js"></script>
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <style>


    </style>
</head>
<body>
<div class="layui-card-body">

    <div class="layui-container">

        <br/>
        <br/>
        <table class="layui-row"  style="width: 900px; margin: auto; text-align: center">
            <tr>
                <td > </td>
                <td  > </td>
                <td style="text-align: right" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="color:#BBBBBB">热门问题</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="color: #BBBBBB">随时关注订单状态</a></td>
            </tr>
            <tr style="background:#F7F7F7; ">
                <td>下单时间</td>
                <td>订单内容</td>
                <td>支付金额（元）</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
            <tbody>

            </tbody>
        </table>
        <div class="layui-row"  style="width: 900px; margin: auto; text-align: center">
            <img src="https://three-group.oss-cn-beijing.aliyuncs.com/three_project_img/LHL.png" height="269" width="428"/>
        </div>

    </div>
</div>
</body>
<script>


</script>
</html>