<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery/jquery-1.9.1.js"  ></script>
    <script src="../js/layui/layui.all.js"></script>
    <link rel="stylesheet" href="../js/layui/css/layui.css">
</head>
<body>
<div class="layui-card-body">
    <div class="layui-container">
        <div class="layui-row">
            <div   style="width: 900px; margin: auto;  " >
                <img src="../img/a.png" height="184" width="172"/><span>正在载入商家信息...</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>