<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.RommMapper1">

    <!--分页查询骑手 查询总条数-->
    <select id="queryRoomCount" resultType="int">
        select count(1) from t_room
    </select>

    <!--分页查询骑手数据-->
    <select id="queryRoom" resultType="com.jk.model.room.Room" parameterType="map" >
        select t.*,y.name as shopname,y.store as shopstore, y.status as shopstatus from t_room  t
		left join yy_merchants y on y.id=t.shopid
        limit #{start},#{rows}
    </select>

</mapper>